nodered_workflow.json
[{"id":"60a93e77.2fa18","type":"tab","label":"API Call","disabled":false,"info":""},{"id":"75924f56.e2a3c","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"database","name":"derekmtc","usetls":false,"tls":"","influxdbVersion":"2.0","url":"http://172.17.0.3:8086","rejectUnauthorized":true},{"id":"499047ca.862b48","type":"http request","z":"60a93e77.2fa18","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://api.openweathermap.org/data/2.5/weather?q=cape%20canaveral&units=imperial&appid={API-KEY}","tls":"","persist":false,"proxy":"","authType":"","x":270,"y":360,"wires":[["9b8212d1.64cf8"]]},{"id":"ba92047d.ff54e8","type":"inject","z":"60a93e77.2fa18","name":"Get","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":110,"y":400,"wires":[["499047ca.862b48","530ab01f.d5867"]]},{"id":"9b8212d1.64cf8","type":"json","z":"60a93e77.2fa18","name":"","property":"payload","action":"","pretty":false,"x":450,"y":420,"wires":[["e6c14187.d5f5"]]},{"id":"ba5f977d.7fd188","type":"function","z":"60a93e77.2fa18","name":"","func":"msg.payload = [\n    [{\n        temperature: msg.weather.main.temp,\n        humidity: msg.weather.main.humidity\n    },\n    {\n        location: msg.weather.name\n    }],\n];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":580,"wires":[["b46f13a2.db485"]]},{"id":"e6c14187.d5f5","type":"change","z":"60a93e77.2fa18","name":"","rules":[{"t":"set","p":"weather","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":500,"wires":[["ba5f977d.7fd188","eab0f4bf.0c0ea8"]]},{"id":"530ab01f.d5867","type":"http request","z":"60a93e77.2fa18","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://api.openweathermap.org/data/2.5/weather?q=houston&units=imperial&appid={API-KEY}","tls":"","persist":false,"proxy":"","authType":"","x":270,"y":460,"wires":[["9b8212d1.64cf8"]]},{"id":"eab0f4bf.0c0ea8","type":"debug","z":"60a93e77.2fa18","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":790,"y":420,"wires":[]},{"id":"b46f13a2.db485","type":"influxdb out","z":"60a93e77.2fa18","influxdb":"75924f56.e2a3c","name":"influxdb","measurement":"current","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"derekmtc","bucket":"weather","x":800,"y":500,"wires":[]}]